[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
promptwatch = {editable = true, path = "."}
tiktoken = "*"
chromadb = "==0.3.15"
openai = "*"
langchain-community = "*"
langchain = "*"

[dev-packages]
ipykernel = "*"
persistqueue = "*"
autopep8 = "*"
langchain-openai = "*"

[requires]
python_version = "3.9"
