[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
promptwatch = {editable = true, path = "."}
tiktoken = "*"
chromadb = "==0.3.15"

[dev-packages]
ipykernel = "*"
persistqueue = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
